<footer class="footer mt-auto">
    
    <hr class="border-primary">
  
    <div class="row">
        <div class="col-5 col-md-3">
            <a class="menu__brand navbar-brand" href="/">
                <i class="menu__icon fas fa-shield-alt"></i>
                Jornadas Ciber
            </a>
        </div>

        <div class="col-md-6 text-center d-none d-md-block d-lg-block" >
            <ul class="footer__items list-unstyled">
                <li class="list-inline-item">
                    <a class="footer__item" href="/">Portada</a>
                </li>
                <li class="list-inline-item">
                    <a class="footer__item" href="./participantes.html">Participantes</a>
                </li>
                <li class="list-inline-item">
                    <a class="footer__item" href="./jornadas.html">Jornadas</a>
                </li>
                <li class="list-inline-item">
                    <a class="footer__item" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </div>

        <div class="col-7 col-md-3 text-end">
            <ul class="footer__socials list-inline">
                <li class="list-inline-item">
                    <a href="https://plus.google.com" target="_blank" class="text-primary">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://facebook.com" target="_blank" class="text-primary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com" target="_blank" class="text-primary">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr class="border-primary">

    <p class="footer__copyright">PEC2: Luis Francisco Blanco Cadavid</p>
    <p class="footer__copyright">&copy; Universitat Oberta de Catalunya</p>
</footer>
  