<header class="menu">
  <nav class="menu__navbar navbar navbar-expand-lg navbar-light">
    <div class="menu__container container-fluid">
      <a class="menu__brand navbar-brand" href="/">
        <i class="menu__icon fas fa-shield-alt"></i>
        Jornadas Ciber
      </a>
    <button class="menu__toggle navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="menu__toggle-icon navbar-toggler-icon"></span>
    </button>
      <div class="menu__collapse collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="menu__items navbar-nav">
          <a class="menu__item nav-link" href="/">Portada</a>
          <a class="menu__item nav-link" href="./participantes.html">Participantes</a>
          <a class="menu__item nav-link" href="./jornadas.html">Jornadas</a>
          <a class="menu__item nav-link" href="./contacto.html">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
</header>
